// Flex Container
.display-flex(@direction; @wrap; @justify-content; @align-content; @align-items) {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  .flex-direction(@direction);
  .flex-wrap(@wrap);
  .justify-content(@justify-content);
  .align-content(@align-content);
  .align-items(@align-items);
}

.flex-direction(@direction) {
  -webkit-flex-direction: @direction;
  -ms-flex-direction: @direction;
  flex-direction: @direction;
}

.flex-wrap(@wrap) {
  -webkit-flex-wrap: @wrap;
  -ms-flex-wrap: @wrap;
  flex-wrap: @wrap;
}

.justify-content (@justify-content) {
  -webkit-justify-content: @justify-content;
  -ms-flex-pack: @justify-content;
  justify-content: @justify-content;
}

.align-content(@align-content) {
  -webkit-align-content: @align-content;
  -ms-flex-line-pack: @align-content;
  align-content: @align-content;
}

.align-items(@align-items) {
  -webkit-align-items: @align-items;
  -ms-flex-align: @align-items;
  align-items: @align-items;
}

// Flex Children
.flex-item(@grow; @shrink; @basis) {
  -webkit-flex: @grow @shrink @basis;
  -ms-flex: @grow @shrink @basis;
  flex: @grow @shrink @basis;
  .order(0);
  .align-self(0);
}

.order(@order) {
  -webkit-order: @order;
  -ms-flex-order: @order;
  order: @order;
}

.align-self(@align) {
  -webkit-align-self: @align;
  -ms-flex-item-align: @align;
  align-self: @align;
}