// Core variables and mixins
@import "variables.less";
@import "mixins.less";

html, body {
  height: 100%;
}

.flex-container {
  padding-top: @navbar-height + 20;

  height: 100%;
  .display-flex(column; nowrap; center; stretch; stretch);
}

.flex-content {
  .flex-item(1; 1; auto);
}

.flex-footer {
  .flex-item(0; 1; auto);
}