{% extends "climb/layout.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>You have been logged out.</h1>
    </div>
</div>
{% endblock content %}

{% block javascript %}
{% endblock javascript %}