{% extends "climb/layout.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <h1>Login</h1>
        <form class="form" action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">
                Login
            </button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock content %}

{% block javascript %}
{% endblock javascript %}