{% load climb_tags %}
{% load compress %}
{% load cache %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OpenClimbing</title>
    <!-- Style Sheets -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/united/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    {% cache 500 css %}
    {% compress css %}
    <link href="{{ STATIC_URL }}css/openclimbing.less" rel="stylesheet" type="text/less">
    {% endcompress %}
    {% endcache %}
    <link rel="icon" sizes="32x32 64x64" type="image/x-icon" href="/static/favicon.ico">

    {% include "climb/part/google_analytics.html" %}
</head>
<body>
{% cache 500 nav request.path user.username %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">OpenClimbing</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="{% active request 'todo' %}"><a href="{% url 'todo' %}">Routes</a></li>
                <li class="{% active request 'todo' %}"><a href="{% url 'todo' %}">Forum</a></li>
                <li class="{% active request 'todo' %}"><a href="{% url 'todo' %}">About</a></li>
                <!--
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more</a></li>
                    </ul>
                </li>
                -->
            </ul>
            <!--
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            -->
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                <li><p class="navbar-text"></p></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        {{ user.get_full_name }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="{% active request 'todo' %}"><a href="{% url 'todo' %}">Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'admin:index' %}">Django Admin</a></li>
                        <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="{% active request 'auth_login' %}"><a href="{% url 'auth_login' %}">Login</a></li>
                <li class="{% active request 'auth_register' %}"><a href="{% url 'auth_register' %}">Sign Up</a>
                </li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>
{% endcache %}
<div class="flex-container">
    <div class="flex-content">
        <div class="container">
            {% block content %}{% endblock content %}
        </div>
    </div>
    <div class="flex-footer">
        <div class="well" style="margin-bottom: 0">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-push-8"><p class=""><a class="pull-right" href="https://bitbucket.org/ticalcster/openclimbing"><i class="fa fa-bitbucket"></i> Contribute on Bitbucket</a></p></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Javascript -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/ws4redis.js" type="text/javascript"></script>
{% block javascript %}{% endblock javascript %}
</body>
</html>