{% extends "climb/layout.html" %}

{% block content %}
<ul id="status"></ul>
{% endblock content %}

{% block javascript %}
    <script type="text/javascript">
    $(function(){
        $('#status').append($('<li>').html('jQuery test'));
    });

    var ws4redis = WS4Redis({
        uri: '{{ WEBSOCKET_URI }}foobar?subscribe-user',
        //receive_message: function(msg) {alert(msg)},
        heartbeat_msg: '{{ WS4REDIS_HEARTBEAT }}'
    });
    </script>
{% endblock javascript %}